

<form action="/api/productos" method="post">
        <ul>
         <li>
           <label for="name">Nombre:</label>
           <input type="text" id="name" name="name">
         </li>
         <li>
           <label for="price">Precio:</label>
           <input type="text" id="price" name="price">
         </li>
         <li>
           <label for="thumbnail">url:</label>
           <input type="text" id="thumbnail" name="thumbnail">
         </li>
         <li class="button">
            <button type="submit">Enviar datos</button>
        </li>
        </ul>
        
       </form>

       <a href="/api/productos">Ir a listado de productos</a>