<header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/principal">TENNO GAMES</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                     
                    </ul>
                    {{#if this.name}}
                        <li class="nav-item dropdown" style="display: flex">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgba(255,255,255,.55); ">
                          {{this.name}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li style="display: flex ; justify-content: center;"><a id="deslogueo" class="btn btn-primary" onclick= "location.href='/logout'">Desloguearse</a></li>
                        </ul>
                      </li>                    
                      {{else}}
                      <button type="submit" onclick= "location.href='/login'" class="btn btn-primary">Ir al login</button>
                      {{/if}} 
                    
                  </div>
                </div>
              </nav>
        </header>
        <main style="min-height: 1000px">
          <div id = "cuerpo" ></div>
            <div class="container" style="margin-top: 30px;" >
                <div class="row">
                  <div id = "Productos1" ></div>
                  <div id = "productStyle" >
                    
                    <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Felcidades!</h4>
                    <p>Tu compra a sido realizada con exito.</p>
                    <hr>
                    <p class="mb-0">Lo esperamos pronto.</p>
                    </div>

                  
                </div>
                
            </div>
            
        </main>
        <footer class="text-center text-lg-start bg-dark text-muted">
    
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
       
      <div class ="offset-md-10">
        <a target = "blank" href="https://es-la.facebook.com/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a target = "blank" href="https://twitter.com/?lang=es" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a target = "blank" href="https://www.google.com/intl/es-419/gmail/about/" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a target = "blank" href="https://www.instagram.com/?hl=es-la" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a target = "blank" href="https://ar.linkedin.com/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target = "blank" href="https://github.com/Franco2098/Desafios" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      
    </section>
    
  
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row">
          
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-2">
              <i class="fas fa-gem me-3"></i>Tenno Games
            </h6>
          </div>
          
  
          
          <div class="col-md-6 col-lg-2 col-xl-4 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-6">
             Terminos y Condiciones
            </h6>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Argentina, Córdoba</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              francodlopez98@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 3518382910</p>
          </div>
          
        </div>
        
      </div>
    </section>
    
  
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold">TENNO GAMES</a>
    </div>s
    
  </footer>