<form action="/logout" method="get">
<div>
        <h1>Bienvenido {{this.name}}</h1>
        <ul>
        <li class="button">
            <button type="submit">Desloguear</button>
        </li>
        </ul>
</div>
</form>

<form onsubmit="addInfo1(); return false">
        <h1>INGRESE UN PRODUCTO</h1>
        <ul>
         <li>
           <label for="name">Nombre:</label>
           <input type="text" id="name" name="name">
         </li>
         <li>
           <label for="price">Precio:</label>
           <input type="text" id="price" name="price">
         </li>
         <li>
           <label for="thumbnail">url:</label>
           <input type="text" id="thumbnail" name="thumbnail">
         </li>
         <li class="button">
            <button type="submit">Enviar datos</button>
        </li>
        </ul>

       </form>

       <div id="productos">
        <h1>LISTA DE PRODUCTOS</h1>
    <div id="product"></div>
    </div>

<form onsubmit="addInfo(); return false">
        <h1>CENTRO DE MENSAJES</h1>
        <input type="text" id="nb" name="" placeholder="Email">
        <input type="text" id="nm" name="" placeholder="Nombre">
        <input type="text" id="ln" name="" placeholder="Apellido">
        <input type="text" id="ag" name="" placeholder="Edad">
        <input type="text" id="al" name="" placeholder="Alias">
        <input type="text" id="av" name="" placeholder="Logo de usuario">
        <input type="text" id="msn" name="" placeholder="Mensaje">
        <input type="submit" value="Enviar">
       </form>

<div id="mensajes">
        <h1>CHAT</h1>
    <div id="chat"></div>
    </div>


