<form action="/login" method="post">

<h1>Login de Usuario</h1>
        <ul>
         <li>
           <label for="name">Nombre:</label>
           <input type="text" id="name" name="name" placeholder="Ingrese su nombre">
         </li>
         <li class="button">
            <li class="button">
            <button type="submit">Enviar dato</button>
        </li>
        </li>
         </ul>

</form>