<form action="/login" method="post">

<h1>Login de Usuario</h1>
        <ul>
         <li>
           <label for="name">Nombre:</label>
           <input type="text" id="nombre" name="nombre">
         </li>
         <li>
           <label for="name">Contraseña:</label>
           <input type="text" id="contraseña" name="contraseña">
         </li>
         <li class="button">
            <li class="button">
            <button type="submit">Login</button>
         </ul>

</form>

<button type="submit" onclick= "location.href='/registro'">Ir a registrarse</button>
      

