<link rel="stylesheet" href="/styles1.css">
<form action="/login" method="post" style="margin-block: 50px">

<h3>Login de Usuario</h3>
 <ul>
<div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="text" class="form-control" id="email" name="email">
    </div>
  <div class="mb-3">
    <label for="name" class="form-label">Contraseña:</label>
    <input type="text" class="form-control" id="contraseña" name="contraseña">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</ul>
</form>

<button type="submit" onclick= "location.href='/registro'" class="btn btn-success">Ir a registrarse</button>
      

