<link rel="stylesheet" href="/styles1.css">
<form action="/logout_" method="get">
        <h3>Hasta luego</h3>
        <ul>
        <li class="button">
            <li class="button">
            <button type="submit">Volver al login</button>
        </li>
        </ul>
</form>