<form action="/logout_" method="get">
        <h1>Hasta luego</h1>
        <ul>
        <li class="button">
            <li class="button">
            <button type="submit">Volver al login</button>
        </li>
        </ul>
</form>