<form action="/registro" method="post">

<h1>Registro de Usuario</h1>
        <ul>
         <li>
           <label for="name">Nombre:</label>
           <input type="text" id="nombre" name="nombre">
         </li>
         <li>
           <label for="name">Contraseña:</label>
           <input type="text" id="contraseña" name="contraseña">
         </li>
         <li class="button">
            <li class="button">
            <button type="submit">Registrarse</button>
        </li>
         </ul>

</form>

<button type="submit" onclick= "location.href='/login'">Ir al login</button>